h1 {
  font-family: "Turret Road", cursive;
  font-weight: 400;
  color      : $text-primary;
}

h2 {
  font-family: "Turret Road", cursive;
  font-weight: 400;
  color      : $text-primary;
}

p {
  font-family: "Turret Road", cursive;
  // color: $text-primary;
}

.spacer {
  margin-top: 50px;
}
