/* ----------------------------------------- */
/* COLORES */
/* ------------------------------------------*/
$bg-red-primary  : #3B020D;
$bg-red-secondary: #DD082F;

$text-primary: #f1f1f1;
$text-primary1: #dfdfdf;
$text-primary2: #cacaca;
$text-secondary: #131313;
$text-secondary1:rgb(32, 32, 32)3;
$text-secondary2:rgb(49, 49, 49)3;

$text-amarillo: #FFCB05;