@import "./_variables";
@import "./_fonts";
@import "./_layout";
@import "./holo-cards"; 

.bg-red-primary {
  background: $bg-red-primary;
}

/* ----------------------------------------- */
/* HEADER */
/* ------------------------------------------*/
.pokemon-logo {
  max-height: 200px;
}

/* ----------------------------------------- */
/* FORMULARIO */
/* ------------------------------------------*/
.login-box {
  width        : 320px;
  height       : 250px;
  margin       : 0 auto;
  padding      : 20px;
  border-radius: 20px;
  background   : $bg-red-secondary;
  color        : $text-primary1;
  font-family  : "Turret Road", cursive;
}

.login-title {
  display       : block;
  margin        : 10px 0 20px 0;
  color         : $text-secondary;
  text-align    : center;
  text-transform: capitalize;
}

.input-field {
  box-sizing   : border-box;
  width        : 100%;
  height       : 40px;
  margin       : 0 0 20px 0;
  border       : none;
  border-bottom: 1px solid #cfd8dc;
  outline      : none;
  background   : none;
  color        : #cfd8dc;
}

.btn-submit {
  width         : 100%;
  height        : 40px;
  margin        : 20px 0;
  border        : none;
  border-radius : 20px;
  outline       : none;
  background    : $text-amarillo;
  color         : $text-secondary;
  font-size     : 17px;
  font-weight   : bold;
  text-transform: capitalize;
  cursor        : pointer;
}

.btn-submit:hover {
  background: #ffa000;
  transition: 0.8s ease;
}

.link-login {
  display        : block;
  margin         : 10px 0;
  float          : right;
  color          : #cfd8dc;
  text-decoration: none;
}

.link-login:hover {
  margin-right: -7px;
  color       : #ffa000;
  transition  : 0.8s ease;
}

/* ----------------------------------------- */
/* CARD */
/* ------------------------------------------*/
.user-card {
  display       : flex;
  flex-direction: column;
  max-width     : 200px;
  height        : 320px;
  padding       : 7px;
  border        : 5px solid rgb(80, 39, 39);
  border-radius : 5px;
  background    : rgb(255, 0, 0);
  background    : linear-gradient(
    137deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 171, 0, 1) 100%
  );
}

.user-card__header {
  display        : flex;
  justify-content: space-between;
}

.user-card__img {
  align-self: center;
  background: rgb(21, 21, 53);
}

.user-card__img img {
  border: 5px solid rgb(255, 166, 0);
}

/* ----------------------------------------- */
/* CARD-REVERSE */
/* ------------------------------------------*/
.reverse-card {
  max-width: 200px;
}  

/* ----------------------------------------- */
/* BATTLEFIELD */
/* ------------------------------------------*/
.battlefield {
  background-image : url('../../assets/img/battlefield.jpg');
  background-repeat: no-repeat;
  background-size  : cover;
}

